<!DOCTYPE html>
<html ng-app="poker">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Planning Poker</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" href="poker.css">
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="poker.js"></script>
	<script type="text/ng-template" id="card.html">
        <div class="card" ng-click="pokerCtrl.sendEstimate(pokerCtrl.id, pokerCtrl.name, card);"><div class="front"><div class="corner">{{card}}</div><div class="suit suit0">{{card}}</div><div class="corner cornerBR flip">{{card}}</div></div></div>
    </script>
	<script type="text/ng-template" id="estimate.html">
        <div class="estimate" >
			{{estimate.id}}, {{estimate.name}}, {{estimate.estimate}}.
		</div>
    </script>
</head>
<body>

<div class="container" >
    <h1>Welcome to Planning Poker</h1>
</div>

<div class="container" >
	<div class="col-lg-6" ng-controller="PokerController as pokerCtrl" >
	<div class="row">
		<h2>Poll</h2>
	</div>
	<div class="row">
		You are <input type="text" placeholder="Your name" ng-model="pokerCtrl.name" /> with id {{pokerCtrl.id}}.
	</div>
	<div class="row">
		Currently estimating: {{pokerCtrl.story}}.
	</div>
	<div class="row">
		Your estmimate:
	</div>
	<div class="row">
	<div ng-repeat="card in pokerCtrl.cards">
		<ng-include src="'card.html'">
		</ng-include>
	</div>
	</div>
    </div>
	
	
	<div class="col-lg-6" ng-controller="PokerOverviewController as overviewCtrl">
	<div class="row" >
		<h2>Overview</h2>
	</div>
	<div class="row" ng-repeat="estimate in overviewCtrl.currentPoll.poll">
		<ng-include src="'estimate.html'">
		</ng-include>
	</div>
	</div>
	
	
	<div class="col-lg-6" ng-controller="PokerSmController as smCtrl">
	<div class="row" >
		<h2>ScrumMaster</h2>
	</div>
	<div class="row" >
		<input type="text" placeholder="Next story" ng-model="smCtrl.story" />
		<button type="submit" class="btn btn-default" ng-click="smCtrl.nextStory(smCtrl.story)">Proceed</button>
	</div>
	</div>
</div>



</body>
</html>
